backend/__pycache__/
backend/workspaces/
persistent_jobs/
terraform/envs/dev/.terraform/
terraform/envs/dev/.terraform.lock.hcl
terraform/envs/dev/terraform.tfstate.backup/
terraform/envs/dev/terraform.tfstate/
terraform/envs/prod/.terraform.lock.hcl
backend/jobs_db.json
.env